/*here the colors and types of letters that they will have, along with their size */
body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
.maindiv{
    background-color:white;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    align:center;
}


